__pycache__/
.vscode
/doc/.asciidoctor
/doc/index.html
/doc/tools.adoc
/doc/img/asic.svg
/doc/img/base.svg
/doc/img/formal.svg
/doc/img/graph.svg
/doc/img/impl.svg
/doc/img/legend.svg
/doc/img/sim.svg
/doc/img/synth.svg
