__pycache__/
*.egg-info/
.vscode
/dist/
/doc/_build/
/doc/_theme/
/doc/CIStatus.inc
/doc/ToolsTable.inc
/doc/shields/shields.*.gen.inc
/utils/build/
/utils/pyHDLC/build/
/utils/pyHDLC/dist/
/utils/map.svg
