__pycache__/
*.egg-info/
.vscode

/doc/asciidoctor/.asciidoctor
/doc/asciidoctor/public/
/doc/asciidoctor/main/tools.adoc
/doc/asciidoctor/img/asic.svg
/doc/asciidoctor/img/base.svg
/doc/asciidoctor/img/formal.svg
/doc/asciidoctor/img/graph.svg
/doc/asciidoctor/img/impl.svg
/doc/asciidoctor/img/legend.svg
/doc/asciidoctor/img/sim.svg
/doc/asciidoctor/img/synth.svg

/doc/sphinx/_build/
/doc/sphinx/_theme/
/doc/sphinx/CIStatus.inc
/doc/sphinx/ToolsTable.inc
/doc/sphinx/shields/shields.*.gen.inc
/utils/pyHDLC/dist/
