name: 'doc'

on:
  pull_request:
  push:
    paths:
      - '.github/workflows/doc.yml'
      - 'doc/*'
  schedule:
    - cron: '0 0 * * 4'
  repository_dispatch:
    types: [ doc ]

jobs:

  asciidoc:
    runs-on: ubuntu-latest
    steps:

    - name: Build hdlc/doc
      run: |
        docker build -t hdlc/doc - <<-EOF
        FROM asciidoctor/docker-asciidoctor
        RUN apk add -U --no-cache graphviz
        EOF

    - uses: actions/checkout@v2

    - name: Build site
      run: docker run -v /$(pwd)://documents/ hdlc/doc ./doc/make.sh
      # BUG: the following 'uses' should be equivalent to the 'run' command above.
      #      Unfortunately, GitHub tries to build a custom image before running the
      #      first step. At that point, image 'hdlc/doc' does not exist, so it fails.
      #  uses: docker://hdlc/doc
      #  with:
      #    args: doc/make.sh

    - name: Publish site to gh-pages (doc)
      if: github.event_name != 'pull_request'
      run: |
        mkdir pages
        cd pages
        git init
        cp ../.git/config ./.git/config
        touch .nojekyll
        mv ../doc/index.html ./
        mv ../doc/graph.svg ./
        git add .
        git config --local user.email "push@gha"
        git config --local user.name "GHA"
        git commit -am "update ${{ github.sha }}"
        git push -u origin +HEAD:gh-pages
